/* div{
    background-color: brown;
} */

/* ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  } */
  
/* TODO 1: Set the CSS for all paragraph tags to "color: red" */
/* p{
    color: red;
} */

/* TODO 2: Set the CSS for all elements with a class of "note" to "font-size: 20px" */
/* .note{
    font-size: 20px;
} */

/* TODO 3: Set the CSS for the element with an id of "id-selector-demo" to "color: green" */
/* #id-selector-demo{
    color: green;
} */

/* TODO 4: Set the CSS for the li elements that have the "value" attribute set to "4" to have "color: blue" */
/* li[value="4"]{
    color: blue;
} */

/* TODO 5: Set all elements to have "text-align: center" */
/* *{
    text-align: center;
} */

/* 6.0 color properties styling */
/* 
    1. make the background color of webpage "antiquewhite"
    2. make h1 "whitesmoke"
    3. make the background color of h1 "darkseagreen"
    4. make the h2 #FAF8F1
    5. make the background of the h2 "#C58940"
*/
/* *{
    background-color: antiquewhite;
}

h1{
    color: whitesmoke;
    background-color: darkseagreen;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
} */

/* to-do:
        1. change the color of <p>color</p> to coral color
        2. change the font size of <p>font size</p> to 2X the size of the root font size.
        3. change the font weight of <p>font weight</p> to 900
        4. change the font family of <p>font family</p> to the Google font Caveat with regular(400) font weignt.
        5. change the <p>text align</p> to right aling.
        6. change the root (html element) font size to 30px. 
  */

  /* #color{
      color: coral;
  }

  #size{
      font-size: 2rem;
  }

  #weight{
      font-weight: 900;
  }

  #family{
    font-family: 'Caveat', cursive;
  }

  #alignment{
      text-align: right;
  }

  html{
      font-size: 30px;
  } */

  /* 6.3 box model in CSS
    to-do: 
        1. create 3 boxes using the div element
        2. set their sizes to 200px high by 200px wide.
        3. set different background colors for each of the boxes 
        4. add a paragraph element to first div element and add some content to it
        5. set the first div to have 20px padding all around with a black 10px border
        6. fix the style of <p> element to remove all margins.
        7. set the second div to have a 20px border on top and bottom and 10px border on left and right.
        8. set the third div to have a 10px border.
        9. set the margins for the divs so that each box corner touches the other.
  */
/* 
  div{
      width: 200px;
      height: 200px;
  }

  p{
      margin: 0;
  }

  #first{
    background-color: aquamarine;
    padding: 20px;
    border: 10px solid black;
  }

  #second{
    background-color: bisque;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
  }

  #third{
    background-color: burlywood;
    border: 10px solid black;
    margin-left: 40px;
  } */

