*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 3px solid purple;
    background-color: violet;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft"
    ;
}
.box{
    border: 3px solid gray;
    background-color: whitesmoke;
}
#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
.childGrid{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: thistle;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.box1{
    border: 2px solid hotpink;
    background-color: azure;
    padding: 20px;
    margin: 10px;
}